In [55]:
# Import the data
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from scipy.stats import pearsonr

df = pd.read_csv('wines_SPA.csv')
df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [56]:
#Create a data frame
wine_df = pd.DataFrame(df)
wine_df.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [57]:
wine_df['winery'].value_counts()

winery
Contino                                 457
Artadi                                  261
La Rioja Alta                           254
Sierra Cantabria                        237
Matarromera                             232
                                       ...
Briego                                    1
Guillem Carol - Cellers Carol Valles      1
Particular                                1
Bodegas Asenjo & Manso                    1
Joan Simo                                 1
Name: count, Length: 480, dtype: int64

In [58]:
wine_df['wine'].value_counts()

wine
Reserva                         467
Gran Reserva                    458
Rioja Reserva                   240
El Viejo                        224
Corimbo I                       223
                               ...
4 Varietales Coleccion Rioja      1
Noble                             1
Primordium                        1
Finca Helena                      1
Capricho Crianza                  1
Name: count, Length: 847, dtype: int64

In [59]:
wine_df['region'].value_counts()

region
Rioja                              2440
Ribera del Duero                   1413
Priorato                            686
Toro                                300
Vino de Espana                      263
                                   ...
Ribera del Gallego-Cinco Villas       1
Monterrei                             1
Jerez Cream                           1
Condado de Huelva                     1
Abona                                 1
Name: count, Length: 76, dtype: int64

In [60]:
wine_df['type'].value_counts()

type
Rioja Red               2357
Ribera Del Duero Red    1407
Red                      864
Priorat Red              674
Toro Red                 296
Tempranillo              291
Sherry                   274
Albarino                 252
Mencia                   235
Rioja White               92
Pedro Ximenez             35
Grenache                  35
Cava                      33
Verdejo                   27
Monastrell                18
Montsant Red              17
Syrah                     15
Chardonnay                13
Cabernet Sauvignon        11
Sparkling                  5
Sauvignon Blanc            4
Name: count, dtype: int64

In [61]:
wine_df.isna().sum()

winery            0
wine              0
year              2
rating            0
num_reviews       0
country           0
region            0
price             0
type            545
body           1169
acidity        1169
dtype: int64

In [62]:
wine_df.dropna(inplace=True)

In [63]:
wine_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6329 entries, 0 to 7499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   winery       6329 non-null   object
 1   wine         6329 non-null   object
 2   year         6329 non-null   object
 3   rating       6329 non-null   float64
 4   num_reviews  6329 non-null   int64
 5   country      6329 non-null   object
 6   region       6329 non-null   object
 7   price        6329 non-null   float64
 8   type         6329 non-null   object
 9   body         6329 non-null   float64
 10  acidity      6329 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 593.3+ KB

In [64]:

encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoder.set_output(transform="pandas")
encoder.fit(wine_df[['winery', 'wine', 'region', 'type']])
encoded_columns = encoder.transform(wine_df[['winery', 'wine', 'region', 'type']])
# encoded_df = pd.DataFrame(encoded_columns.toarray(), columns=encoder.get_feature_names_out(columns_to_encode))
# print(encoded_columns)
column_names = encoder.get_feature_names_out()
print(column_names)
encoded_df = pd.DataFrame(encoded_columns, columns=column_names)

['winery_AGE' 'winery_Aalto' 'winery_Abadal' ... 'type_Tempranillo'
 'type_Toro Red' 'type_Verdejo']

In [65]:
encoded_df.head()

,winery_AGE,winery_Aalto,winery_Abadal,winery_Abadia Retuerta,winery_Abel Mendoza Monge,winery_Acustic Celler,winery_Adama Wines,winery_Adega Familiar Eladio Pineiro,winery_Agusti Torello Mata,winery_Albamar,...,type_Ribera Del Duero Red,type_Rioja Red,type_Rioja White,type_Sauvignon Blanc,type_Sherry,type_Sparkling,type_Syrah,type_Tempranillo,type_Toro Red,type_Verdejo
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
wine_df_encoded = pd.concat([wine_df, encoded_df], axis=1)
wine_df_encoded.drop(['winery', 'wine', 'region', 'type', 'country'], axis=1, inplace=True)
wine_df_encoded.head()

,year,rating,num_reviews,price,body,acidity,winery_AGE,winery_Aalto,winery_Abadal,winery_Abadia Retuerta,...,type_Ribera Del Duero Red,type_Rioja Red,type_Rioja White,type_Sauvignon Blanc,type_Sherry,type_Sparkling,type_Syrah,type_Tempranillo,type_Toro Red,type_Verdejo
0,2013,4.9,58,995.00,5.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2018,4.9,31,313.50,4.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,2009,4.8,1793,324.95,5.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1999,4.8,1705,692.96,5.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1996,4.8,1309,778.06,5.0,3.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
# Convert non-numeric 'year' values to NaN
wine_df_encoded['year'] = pd.to_numeric(wine_df_encoded['year'], errors='coerce')

# Drop rows with NaN values in 'year' column
wine_df_encoded = wine_df_encoded.dropna(subset=['year'])

In [68]:
scaler = StandardScaler()
scaler.fit(wine_df_encoded)

scaled_data = scaler.transform(wine_df_encoded)
scaled_df = pd.DataFrame(scaled_data, columns=wine_df_encoded.columns)
scaled_df.head()

,year,rating,num_reviews,price,body,acidity,winery_AGE,winery_Aalto,winery_Abadal,winery_Abadia Retuerta,...,type_Ribera Del Duero Red,type_Rioja Red,type_Rioja White,type_Sauvignon Blanc,type_Sherry,type_Sparkling,type_Syrah,type_Tempranillo,type_Toro Red,type_Verdejo
0,0.006272,5.114491,-0.631490,5.604802,1.407978,0.217748,-0.012836,-0.040622,-0.022237,-0.057496,...,-0.516169,-0.738721,-0.119882,-0.022237,-0.018155,-0.028712,-0.046328,-0.214501,4.717701,-0.065588
1,0.706096,5.114491,-0.676116,1.487011,-0.275715,-3.899793,-0.012836,-0.040622,-0.022237,-0.057496,...,-0.516169,-0.738721,-0.119882,-0.022237,-0.018155,-0.028712,-0.046328,4.661983,-0.211968,-0.065588
2,-0.553587,4.315208,2.236173,1.556195,1.407978,0.217748,-0.012836,-0.040622,-0.022237,-0.057496,...,1.937351,-0.738721,-0.119882,-0.022237,-0.018155,-0.028712,-0.046328,-0.214501,-0.211968,-0.065588
3,-1.953235,4.315208,2.090724,3.779802,1.407978,0.217748,-0.012836,-0.040622,-0.022237,-0.057496,...,1.937351,-0.738721,-0.119882,-0.022237,-0.018155,-0.028712,-0.046328,-0.214501,-0.211968,-0.065588
4,-2.373129,4.315208,1.436203,4.293997,1.407978,0.217748,-0.012836,-0.040622,-0.022237,-0.057496,...,1.937351,-0.738721,-0.119882,-0.022237,-0.018155,-0.028712,-0.046328,-0.214501,-0.211968,-0.065588

In [69]:
wine_df_encoded.corr()

,year,rating,num_reviews,price,body,acidity,winery_AGE,winery_Aalto,winery_Abadal,winery_Abadia Retuerta,...,type_Ribera Del Duero Red,type_Rioja Red,type_Rioja White,type_Sauvignon Blanc,type_Sherry,type_Sparkling,type_Syrah,type_Tempranillo,type_Toro Red,type_Verdejo
year,1.000000,-0.299519,0.042120,-0.384351,-0.100687,0.155387,-0.096938,0.020723,0.012589,0.006799,...,-0.063803,-0.199310,0.043480,0.017776,-0.060871,-0.014287,0.017748,0.067575,0.137507,0.045252
rating,-0.299519,1.000000,-0.003144,0.551943,0.161058,-0.085140,0.004092,0.074640,0.001164,0.061987,...,0.168104,-0.156848,0.000335,0.024862,0.049320,0.032103,0.034708,0.011232,0.008503,0.061235
num_reviews,0.042120,-0.003144,1.000000,-0.045856,0.079627,0.050742,-0.008721,0.128458,-0.005859,0.059835,...,0.085506,0.021647,-0.019770,-0.014875,-0.011960,-0.018388,-0.008098,-0.035323,0.016511,-0.013291
price,-0.384351,0.551943,-0.045856,1.000000,0.150861,-0.030566,0.012611,0.002633,-0.006149,0.002651,...,0.148760,-0.101955,-0.012442,-0.007130,0.027208,0.001630,-0.007137,0.010452,0.017485,-0.013248
body,-0.100687,0.161058,0.079627,0.150861,1.000000,-0.001638,-0.003539,0.057195,-0.006131,-0.015853,...,0.726754,-0.203677,-0.234898,-0.043571,-0.005006,-0.104602,-0.012773,-0.059141,0.298446,-0.128514
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
type_Sparkling,-0.014287,0.032103,-0.018388,0.001630,-0.104602,0.006252,-0.000369,-0.001166,-0.000638,-0.001651,...,-0.014820,-0.021210,-0.003442,-0.000638,-0.000521,1.000000,-0.001330,-0.006159,-0.006086,-0.001883
type_Syrah,0.017748,0.034708,-0.008098,-0.007137,-0.012773,0.010088,-0.000595,-0.001882,-0.001030,0.121709,...,-0.023913,-0.034223,-0.005554,-0.001030,-0.000841,-0.001330,1.000000,-0.009937,-0.009820,-0.003039
type_Tempranillo,0.067575,0.011232,-0.035323,0.010452,-0.059141,-0.836510,-0.002753,-0.008714,-0.004770,0.057762,...,-0.110719,-0.158456,-0.025715,-0.004770,-0.003894,-0.006159,-0.009937,1.000000,-0.045467,-0.014069
type_Toro Red,0.137507,0.008503,0.016511,0.017485,0.298446,0.046156,-0.002721,-0.008611,-0.004713,-0.012187,...,-0.109411,-0.156585,-0.025411,-0.004713,-0.003848,-0.006086,-0.009820,-0.045467,1.000000,-0.013903
type_Verdejo,0.045252,0.061235,-0.013291,-0.013248,-0.128514,0.014282,-0.000842,-0.002664,-0.001458,-0.003771,...,-0.033854,-0.048451,-0.007863,-0.001458,-0.001191,-0.001883,-0.003039,-0.014069,-0.013903,1.000000

In [70]:
y = wine_df_encoded['price']
X = wine_df_encoded.drop(columns='price')

In [71]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [72]:
#KNN neighbors

In [73]:
#Random Forest

In [74]:
#XG Boost

In [75]:
#SVM

In [76]:
#Linear Regression

In [77]:
#Logistic Regression